* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

/* header section style */
.banner-container {
  max-width: 1320px;
  max-height: 600px;
  align-items: center;
  position: relative;
  margin: 50px 100px;
}

img {
  height: 100%;
  width: 100%;
  display: block;
}

.gradient {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  position: absolute;
}

.banner-text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-greeting {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}

.banner-title {
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  margin-top: 30px;
}

/* off section styles */

.off-container {
  max-width: 1600px;
  max-height: 7335px;
  background: #fff;
  position: relative;
}

.off-title {
  color: #f00;
  text-align: center;
  font-family: "Inter";
  font-size: 88px;
  font-weight: 700;
  padding-top: 50px;
}

.off-description {
  color: #f00;
  text-align: center;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
  padding-top: 30px;
}

.off-text {
  color: #070211;
  text-align: center;
  font-family: "Inter";
  font-size: 48px;
  font-weight: 700;
  padding-top: 10px;
}

.off-image {
  /* width: 800px;
  height: 500px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  padding: 30px 400px;
    */
  max-width: 600px;
  max-height: 450px;
  align-items: center;
  position: relative;
  margin: 50px 250px;
  padding: 30px 30px 0 150px;
}

/* Welcom section section */

.welcome-container {
  max-width: 1320px;
  max-height: 600px;
  align-items: center;
  position: relative;
  margin: 50px 100px;
}

.welcome-text {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-15%, -50%);
  margin-left: 50px;
}

.welcome-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(100%, -50%);
}

.welcome-title {
  width: 640px;
  color: #fff;
  font-family: "Merriweather";
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  padding-bottom: 15px;
}

.welcome-description {
  width: 697px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 20px;
}

.join-btn {
  color: #fff;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background: none;
  border: none;
}

.welcome-image {
  width: 230px;
  height: 350px;
}

/* address section */

.address-text {
  color: #070211;
  font-family: "Inter";
  font-size: 32px;
  text-align: center;
  line-height: 55px;
  margin: 70px 100px;
  padding: 80px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}

.address-text span {
  color: #f00;
}

.address-btn {
  color: #fff;
  background: #f00;
  font-family: "inter";
  font-size: 20px;
  padding: 16px 32px;
  border-radius: 10px;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
}

/* Coming Soon Section  */

.coming-soon-container {
  background: #fff;
  display: flex;
  justify-content: space-between;
  margin: 100px;
  align-items: center;
}

.coming-soon-text h3 {
  color: #f00;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  padding-bottom: 15px;
}

.coming-soon-text h1 {
  color: #070211;
  font-family: "Merriweather";
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  padding-bottom: 15px;
}

.coming-soon-text p {
  width: 393px;
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
}

.coming-soon-img {
  width: 300px;
  height: 300px;
  border: 15px solid #f00;
  border-radius: 360px;
  padding: 25px;
}

.text-2024 h1 {
  color: #f00;
  font-family: "Inter";
  font-size: 48px;
  font-weight: 700;
  padding-top: 40px;
  padding-bottom: 10px;
}

.text-2024 p {
  width: 276px;
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 30px;
}

.text-2024 img {
  width: 140px;
  height: 140px;
}

/* Holidays section */

.holidays-container {
  background: #fff;
  text-align: center;
  margin: 100px;
  position: relative;
}

.holidays-text h3 {
  color: #070211;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 10px;
}

.holidays-text h1 {
  color: #f00;
  font-family: "Merriweather";
  font-size: 72px;
  font-weight: 900;
  padding-bottom: 20px;
}

.holidays-text span {
  color: #070211;
}

.hoiday-text p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
  padding-bottom:50px;
}

.holiday-img1 {
  width: 429px;
  height: 433px;
  transform: translate(167%); 
  padding-top: 50px;
}

.holiday-img2 {
  width: 1145px;
  height: 200px;
}

.holiday-img3 {
  width: 230px;
  height: 230px;
  position: absolute;
  top: 45%;
  left: 53%;
  transform: translate(0 -50%);
}

.holiday-img4 {
  width: 500px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, 0%)
}
